<h2>プロフィールを編集する</h2>

<div class="content-form">
  <%= form_with model: @profile, local:true do |f| %>
    <div class="d-flex flex-column">
      <div class="p-2">
      <div class="mb-4">
      <%= f.label :name, 'ハンドルネーム' %>
      <%= f.text_field :name, class:'form-control' %>
      </div>
      <div class="mb-4">
      <%= f.label :age, '年齢' %>
      <%= f.number_field :age, class:'form-control' %>
      </div>
      <div class="mb-4">
      <%= f.label :occupation, '職種' %>
      <%= f.text_field :occupation, class:'form-control' %>
      </div>
      <div class="mb-4">
      <%= f.label :experience, '経験年数（念）' %>
      <%= f.number_field :experience, class:'form-control' %>
      </div>
      <div class="mb-4">
      <%= f.label :image, 'プロフィール画像' %>
      <%= f.file_field :image, class:'image-field' %>
      </div>
      
      <div class="row justify-content-start">
      <div class='col-6 align-self-center'>
      <span>現在、アップロードしている画像：</span>
      </div>
      <div class='col-6'>
      <% if f.object.image.attached? %>
      <div class="p-2">
        <div class="d-grid mx-auto col-6 align-self-center">
        <%= image_tag f.object.image %>
        </div>
      </div>
      <% end %>
      </div>
      </div>
      </div>
      <div class="p-2">
        <div class="d-grid gap-2 col-6 mx-auto">
        <%= f.submit 'プロフィールを編集する', class:'btn btn-primary' %>
        </div>
      </div>
      

      
    </div>
  <% end %>
</div>